# IDE projects
.idea/
.vscode/

# virtualenvs
.venv*/

# Python builds
.eggs/
dist/
build/
goto_http_redirect_server.egg-info/
*__pycache__/

# mypy
.mypy_cache/

# pytest
.pytest_cache/
pytest-report.xml
pytestdebug.log

# pytest-cov
coverage.xml
coverage_html/
.coverage
