# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
# default Pipelines YAML template for Python, modifed by jtmoon79

trigger:
- master
- azure-pipelines

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python35:
      python.version: '3.5'
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'

steps:
- script: |
    python -m pip install --upgrade pip
    python -m pip install --user twine
  displayName: 'Install dependencies'

- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Python $(python.version)'

- task: Bash@3
  inputs:
    filePath: 'tools/build-install.sh'
